<div class="container">
  <br><br>
  <div class="center-form">

    <div class="row">


      <div class="col-sm">
        <p>
          Esta aplicación elimina los espacios duplicados y los saltos de linea que no tengan punto final
          (mantiene los saltos de linea entre párrafos) y que no tengan dos puntos (mantiene los elementos citados en una lista).
          Es una herramienta útil para tratar los textos copiados desde PDF.
        </p>
        <div class="form-group">
          <h5>Pegue o ingrese aquí el texto a limpiar</h5>
          <br>
          <button type="button" (click)="copyInputMessage(userinput)"
                  class="btn btn-primary">Procesar texto y copiar al portapapeles
          </button>
          <br>
          <textarea #userinput placeholder="Ingrese texto aquí" style="width: 100%; height: 20em"></textarea>
        </div>

      </div>


    </div>

  </div>
</div>

